body {
    margin: 0;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: auto;
    background: #1B244A;
    width: 575px;
    height: 385px;
}

.title {
    margin: 30px;
    font-size: 40px;
    font-family: Verdana;
    color: #EEEEEE;
}

h2 {
    background-color: #080001;
    border-radius: 5px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    height: 120px;
    width: 150px;
    color: #F94F6D;
    font-family: 'Orbitron', sans-serif;
    font-size: 90px;
    text-align: center;

}

.add-points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 155px;
    height: 45px;
    margin: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #9AABD8;
    background: #1B244A;
    cursor: pointer;

}

#reset-btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: -100px;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #9AABD8;
    cursor: pointer;
    box-sizing: content-box;
    height: 40px;
    width: 130px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}